.App {
  text-align: center;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 1vmin);
  color: rgba(255, 255, 255, .8);
  padding: 0 16px 0px 8px;
}

.nav-items {
  margin: 8px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.center-nav-items {
  margin: 8px;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 4px 0px;
}

.left-nav-items{
  margin: 8px;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: auto;
}
.moog-header-logo {
  height: 40px;
}

.nav-item {
  color: #ACACAC;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 900;
  /* padding: 8px 10px; */
  cursor: pointer;
}

.active-nav-item {
  content: "ya";
  display: block;
  position: absolute;
  bottom: .65em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30%;
  height: 4px;
  border-radius: 4px;
  background: #03f;
}

.center-nav-item {
  margin: 0px 16px;
}

.log-in {
  padding: 8px 10px;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 1);
}

.App-link {
  color: #09d3ac;
}

.landing-background {
  background-image: url('./Assets/space-clouds.jpg'); /* The image used */
  background-size: cover;
  height: 100vh;
  -webkit-filter: contrast(0.8);
  /* background-position: center;
  height: 150vh;
  width: auto; */
}

.landing-minimoog {
  max-width: 100%;
  max-height: 100%;
  min-width: 600px;
  min-height: 600px;
  filter: drop-shadow(2px 2px 3px black) drop-shadow(-2px -2px 3px black) drop-shadow(var(--cyan-x) var(--cyan-y) 0px rgb(109, 186, 216)) drop-shadow(var(--magenta-x) var(--magenta-y) 0px rgb(255, 123, 0));
  transform: translate(0px, 24px);
}

.sign-up {
  color: black;
  cursor: pointer;
  /* font-family: 'Sonorous', sans-serif;
  font-size: 1.3rem;
  letter-spacing: .08rem; */
  /* margin: 1.8rem .8rem; */
  padding: 0rem 1.4rem;
  line-height: 40px;
  /* padding: 1rem 2rem; */
  transition: all .4s;
  background-color: white;
  /* border: 3px solid var(--header); */
  /* z-index: 9;
  position: absolute;
  bottom: 90px; */
  border-radius: 100px;
  /* text-shadow: 1px 1px 2px var(--header); */
}
.sign-up:hover {
  color: black;
}
.d-patch {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin: 8px 16px;
  text-decoration: none;
}

.jumbotron-wrapper {
  position: absolute;
  top: 0px;
  width: 100vw;
  margin-top: 65px;
}
.jumbotron {
  color: white;
  font-size: 30px;
  text-align: center;
}

#example-player {
  min-width: 100vw;
  -webkit-filter: grayscale(var(--wave-greyscale)) opacity(var(--wave-opacity)) hue-rotate(var(--wave-hue)) contrast(0.8);
  transform: translate(0px, 60px);
  -webkit-transition: 0.1s -webkit-filter linear;
}
@media screen and (max-width: 600px) {
 #example-player {
  min-width: 600px;
 }
}

.home-wrapper {
  background-color: #191919;
  display: flex;
  /* align-items: center; */
  /* align items makes the video have a higher z index than the navbar. no bueno */
  justify-content: center;
  height: 100vh;
}

.design-background {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: fixed;
  background-image: url('./Assets/vinyl.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  filter: contrast(0.8) brightness(0.5);
  -webkit-filter: contrast(0.8) brightness(0.5);
  /* overflow-x: scroll;
  padding-bottom: 62px; */
  /* background-position: center;
  height: 150vh;
  width: auto; */
}

.design-view {
  /* grid-template-rows: minmax(150px, 1fr); */
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  height: calc(100vh - 62px);
  width: 100%;
  /* border: 7px solid pink; */
  box-sizing: border-box;
}

.sliding-grid {
  box-sizing: border-box;
  height: 100%;
  width: 2612px;
  /* border: 3px solid red; */
  border-radius: 8px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 20px 2544px 20px;
  align-items: center;
  /* margin: 0px 40px; */
  /* position: absolute; 
  top: 50%;
  transform: translate(0px, calc(-50%)); */
}

.panel {
  position: relative;
  grid-column: 2 / 3;
  height: 638px;
  width: 2544px;
  border: 3px solid white;
  border-radius: 8px;
  /* margin: 0px 40px; */
  /* position: absolute; 
  top: 50%;
  transform: translate(0px, calc(-50%));  */
}
/* 
.panel::before,
.panel::after {
  content: ‘’;
} */

.divider {
  position: absolute;
  height: 638px;
  border-left: 3px solid white;
}

.controllers-divider {
  left: 348px;
}
.oscillator-divider {
  left: 912px;
}
.mixer-divider {
  left: 1620px;
}
.modifiers-divider {
  left: 2137px;
}
.output-divider {
  left: 2449px;
}

.measuring-tape {
  position: absolute;
  height: 20px;
  border-left: 3px solid yellow;
  top:0px;
  left: 20px
}

.section-label {
  position: absolute;
  font-family: 'Alata', sans-serif;
  color: white;
  font-size: 46px;
  margin: 0px;
    /* adjusted  down from 516px to compensate for line height*/
  top: 536px;
}

.controllers-label {
  left: 22px;
}
.oscillator-label {
  left: 418px;
  word-spacing: 30px;
}
.mixer-label {
  left: 1204px;
}
.modifiers-label {
  left: 1764px;
}
.output-label {
  left: 2208px;
}


:root {
  --cyan-x: 0px;
  --cyan-y: 0px;
  --magenta-x: 0px;
  --magenta-y: 0px;

  --wave-greyscale: 100%;
  --wave-opacity: 0.5;
  --wave-hue: 0deg;
}


html, body {
  overflow-x:hidden;
  overflow-y:hidden;
}
