.knob-label {
    position: absolute;
    margin: 0px;
    font-family: 'Alata', sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

.master-tune-label {
    top: 104px;
    left: 146px;
}
.glide-knob-label {
    top: 279px;
    left: 62px;
}
.modulation-mix-label {
    top: 279px;
    left: 177px;
}

.modulation-mix-sub-label {
    position: absolute;
    margin: 0px;
    font-family: 'Alata', sans-serif;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

/* MODULATION MIX SUB LABELS */
.modulation-mix-knob-label-osc-3{
    top: 432px;
    left: 191px;
    transition: none;
}
.modulation-mix-knob-label-filter-eg{
    word-spacing: 2px;
    top: 450px;
    left: 186px;
    transition: none;
}
.modulation-mix-knob-label-noise{
    top: 432px;
    left: 266px;
    transition: none;
}
.modulation-mix-knob-label-lfo{
    top: 450px;
    left: 279px;
    transition: none;
}

.modulation-mix-rocker-label-osc-3{
    top: 517px;
    left: 21px;
}
.modulation-mix-rocker-label-filter-eg{
    word-spacing: 2px;
    top: 517px;
    left: 88px;
}
.modulation-mix-rocker-label-noise{
    top: 517px;
    left: 188px;
}
.modulation-mix-rocker-label-lfo{
    top: 517px;
    left: 296px;
}

.oscillator-3-control-rocker-label{
    top: 382px;
    left: 363px;
}
.oscillator-3-control-rocker-label-control{
    top: 401px;
    left: 354px;
}
/* END MODULATION MIX SUB LABELS */


.oscillator-modulation-label-oscillator{
    top: 153px;
    left: 297px;
}
.oscillator-modulation-label-modulation{
    top: 170px;
    left: 291px;
}