.horizontal-rocker-box {
  position: absolute;
  height: 38px;
  width: 100px;
  border: 5px solid black;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

.oscillator-modulation-rocker {
  top: 192px;
  left: 298px;
}
.oscillator-modulation-on-label {
  top: 231px;
  left: 377px;
}

.modulation-source-a-rocker {
  top: 478px;
  left: 36px;
}
.modulation-source-b-rocker {
  top: 478px;
  left: 204px;
}

.oscillator-3-control-rocker {
  top: 451px;
  left: 336px;
  transform: rotate(-90deg);
}

.horizontal-rocker-left-flat-facade {
  position: absolute;
  left: 20px;
}

.on-label {
  position: absolute;
  margin: 0px;
  font-family: 'Alata', sans-serif;
  color: white;
  font-size: 13px;
  transition: all 0.34s ease-out;
}



/* MIXER SECTION */
.oscillator-1-rocker {
  top: 108px;
  left: 1116px;
}
.oscillator-2-rocker {
  top: 276px;
  left: 1116px;
}
.oscillator-3-rocker {
  top: 446px;
  left: 1116px;
}

.external-input-rocker {
  top: 191px;
  left: 1116px;
}
.noise-rocker {
  top: 360px;
  left: 1116px;
}

.filter-modulation-rocker {
  top: 108px;
  left: 1524px;
}
.keyboard-control-1-rocker {
  top: 186px;
  left: 1524px;
}
.keyboard-control-2-rocker {
  top: 264px;
  left: 1524px;
}


.noise-color-rocker {
  top: 362px;
  left: 1402px;
  transform: rotate(-90deg);
}

/* MIXER SECTION ON LABELS */
.oscillator-1-on-label {
  top: 147px;
  left: 1195px;
}
.oscillator-2-on-label {
  top: 315px;
  left: 1195px;
}
.oscillator-3-on-label {
  top: 485px;
  left: 1195px;
}

.external-input-on-label {
  top: 230px;
  left: 1195px;
}
.noise-on-label {
  top: 399px;
  left: 1195px;
}

.filter-modulation-on-label {
  top: 147px;
  left: 1603px;
}
.keyboard-control-1-on-label {
  top: 168px;
  left: 1603px;
}
.keyboard-control-2-on-label {
  top: 303px;
  left: 1603px;
}


.main-output-rocker {
  top: 108px;
  left: 2316px;
}
.main-output-on-label {
  top: 147px;
  left: 2395px;
}
.tuner-rocker {
  top: 277px;
  left: 2173px;
}
.tuner-on-label {
  top: 316px;
  left: 2252px;
}

.power-rocker {
  top: 448px;
  left: 2457px;
  transform: rotate(-90deg);
}


.glide-rocker {
  top: 54px;
  left: 175px;
}
.glide-on-label {
  top: 93px;
  left: 254px;
}
.decay-rocker {
  top: 140px;
  left: 175px;
}
.decay-on-label {
  top: 179px;
  left: 254px;
}


