.horizontal-rocker-box {
  position: absolute;
  height: 38px;
  width: 100px;
  border: 5px solid black;
  border-top: 2px solid black;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

.oscillator-modulation-rocker {
  top: 192px;
  left: 298px;
}
.oscillator-modulation-on-label {
  top: 231px;
  left: 377px;
}

.modulation-source-a-rocker {
  top: 478px;
  left: 36px;
}
.modulation-source-b-rocker {
  top: 478px;
  left: 204px;
}

.oscillator-3-control-rocker {
  top: 451px;
  left: 336px;
  transform: rotate(-90deg);
}

.horizontal-rocker-left-flat-facade {
  position: absolute;
  left: 20px;
}
.horizontal-rocker-right-flat-facade {

}
.horizontal-rocker-right-round-facade {
  
}
.horizontal-rocker-right-flat-facade {

}

.on-label {
  position: absolute;
  margin: 0px;
  font-family: 'Alata', sans-serif;
  color: white;
  font-size: 13px;
  transition: all 0.34s ease-out;
}